*
{
    margin: 0px;
    padding: 0px;
    color: #fff;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--pinkshadow);
}
:root
{
    --pink: #ff74a4;
    --white: #ffffff;
    --violet :#9f6ea3;
    --lightblack:#515c6f;
    --darkwhite:#cecaca;
    --pinkshadow:#ffcbdd;
    --lightshadow:rgba(0,0,0,0.15);
}
.musicPlayer
{
    width:380px;
    border-radius: 15px;
    padding: 25px 30px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightshadow);
}
.musicPlayer i
{
    cursor: pointer;
}
/* .head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head
{
    font-size: 30px;
    color: var(--lightblack);
}
.head span
{
    font-size: 18px;
    color: var(--lightblack);
} */
.head, .progress-area .timer,.controls-bars
{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.head span
{
    margin-left: 15%;
    font-size: 20px;
    color: var(--lightblack);
}
.head i
{
    font-size: 30px;
    color: var(--lightblack);
}
.img-area
{
    height: 256px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 6px 12px var(--lightshadow);
}
.img-area img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.song-details
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
.sd
{
    color: #515c6f;
    padding: 5px;
}
#songHeading
{
    font-size: 21px;
}
#artist
{
    opacity: 0.9;
    font-size: 18px;
    margin-bottom: 10px;
}
.progress-area
{
    height: 6px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}
.progress-area .progress-bar
{
    height: inherit;
    width: 0%;
    border-radius: inherit;
    background: linear-gradient(90deg,var(--pink),0%,var(--violet));
}
/* .progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background: #000;
    border-radius: inherit;
    top:78%;
    left:38%;
    right:155px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition:opacity 0.2s ease;
} */
#thumb
{
    position: absolute;
    top: -50%;
    translate: -50%;
    width: 10px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: linear-gradient(90deg,var(--pink),0%,var(--violet));
    cursor: pointer;
}
/* .progress-area:hover .progress-bar::before
{
    opacity: 1;
} */
.progress-area .timer
{
    margin-top: 0.5px;
}
.timer span
{
    font-size: 13px;
    color: var(--lightblack);
}
.controls-bars
{
    margin: 40px 0 5px 0;
}
.controls-bars i{
    font-size: 28px;
    color: var(--lightblack);
    user-select: none;
    font-size: 25px;
     /* background: linear-gradient(90deg,var(--pink),0%,var(--violet)); */ */
    /* background-clip:text; */
    /* -webkit-background-clip:text; */
    /* -webkit-text-fill-color:transparent;   */
}
/* .controls-bars i:nth-child(2),.controls-barsi:nth-child(4)
{
    font-size: 10px;
} */
.controls-bars .Play-Pause
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(var(--pink),0%,var(--darkwhite));
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-musics
{
    width:380px;
    height:585px;
    border-radius: 15px;
    padding: 25px 30px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightshadow);
    margin-left:0.5%;
}
.my-musics.show
{
    display: block;
}
.musicPlayer.move-left
{
    position: absolute;
    left:310px;
}
.musics {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y:scroll;
}
.my-musics
{
    display: none;
    position: absolute;
    left: 700px;
    width:380px;
    border-radius: 15px;
    padding: 25px 30px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightshadow);
}

.musics::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}
.music
{

	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 95%;
	height: 40px;
	background-color: #f3f3f3;
	gap: 2px;
	cursor: pointer;
}
.music:hover
{
	filter: brightness(0.95);
    text-align: center;
}
.music > p 
{
	margin-left: 1rem;
    /* color:black; */
    font-family:'Segoe UI';
    
}
.header
{
    color: black;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
#art
{
    color:crimson;
    margin-left:2rem;
    font-size: 12px;
}
#song
{
    color: brown;
    font-size: 14px;
}
.header i
{
    font-size: 25px;
    color: var(--lightblack);
}

